html {
	font-family: "Open Sans", "Noto Sans", tahoma, arial, sans-serif;
	font-size: 12px;
}

body {
	background: #BEBEBE;
	box-sizing: border-box;
}

.title {
	text-align: center;
}

a {
	text-decoration: none;
}

a:focus, a:hover {
	color: #23527c;
	text-decoration: underline;
}

.selectOption {
	margin: 20px
}

.options {
	margin-left: 20px;
}

.option {
	margin-bottom: 20px;
}